/*
colour plaette
#F7FFF7 - ALMOST white
#343434 - dark grey
#2F3061 - BLUE DARK
#FFE66F - YELLOW
#A1C6D7 - BLUE LIGHT
*/

/* Global styles
-----------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding : 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
}
img {
    width: 300px;
}
a {
  color: #FFE66F;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 80px;
  line-height: 0.5;
}
h2 {
  font-size: 50px;
}
h1, h2 {
  font-family: 'Sansita Swashed', cursive;
  font-weight: 400;
  margin: 100;
}
.content-wrap{
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
-----------------------------*/
header{
  background: #0f466f;
  color: #F7FFF7;
}



/* Projects
-----------------------------*/
.projects{
  background: #F7FFF7;
}
.projects a {
color: #2F3061;
}
.projects .btn {
  color: #F7FFF7;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
    background: rgba(47 ,48 ,97  ,80%);
}
.project-item{
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0px;
}
.project-item span {
  font-weight: bold;
}
.project-item p {
  margin: 5px;
}


/* Work experience
-----------------------------*/
.work-experience{
  background: #779CAB;
}

.job-summary {
  margin-top: 15px;
}





/* Education
-----------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}




/* Contact
-----------------------------*/
footer{
  background: #0E1116;
  color: #F7FFF7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive styles
-----------------------------*/
@media screen and (min-width: 920px) {
  header, footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  .job-item {
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}

@media screen and (max-width: 919px) {
h1 {
  font-size: 70px;
}
h1 h2 {
  line-height: 1;
}
.contact-list a {
  padding: 5px;
}
}
